<div class="all-objects">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyAllObjectsFilter($event)" placeholder="Common Group Id or Groupname">
    </mat-form-field>
    <table mat-table #tableAllObjectsSort="matSort"
        [dataSource]="allObjectsfilterDataSource" matSort matSortActive="identification" matSortDirection="asc">
        <details>all available common groups</details>
        <ng-container matColumnDef="identification">
            <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
        </ng-container>
        <ng-container matColumnDef="groupName">
            <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Group Name </th>
            <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="allObjectsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: allObjectsDisplayedColumns" (click)="selectObject(row)"
            [class.selected]="isObjectSelected(row)"></tr>
    </table>
</div>