@import "../list-detail/list-detail.component.less";

.admin-group-buttons {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;

    .mat-button-base {
        margin: @base-margin;
        min-width: @button-min-width;
    }
}