<app-toolbar (onCreateObjectEventEmitter)="onCreateObject()" [createObjectName]="'User'" [activeSite]="toolbarSite"
    [disableCreateButton]="disableCreateObject()"></app-toolbar>
<div class="object-container">
    <app-first-last-name-list [allObjectsfilterDataSource]="allObjectsfilterDataSource"
        [selectObject]="onSelectObjectCallBack" [isObjectSelected]="isObjectSelectedCallBack">
    </app-first-last-name-list>
    <div class="object-detail">
        <div *ngIf="showObjectDetail; then userSelectedBlock else userNotSelectedBlock"></div>
        <ng-template #userSelectedBlock>
            <div class="element-data-row">
                <mat-form-field class="element-detail-short">
                    <mat-label>Id</mat-label>
                    <input matInput placeholder="Identification" [(ngModel)]="selectedObject.identification" disabled />
                </mat-form-field>
            </div>
            <div class="element-data-row">
                <mat-form-field class="element-detail-mid">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" [(ngModel)]="selectedObject.lastName" required
                        [disabled]="disableUpdateCreationRequired" />
                </mat-form-field>
                <mat-form-field class="element-detail-mid">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" [(ngModel)]="selectedObject.firstName" required
                        [disabled]="disableUpdateCreationRequired" />
                </mat-form-field>
                <mat-form-field class="element-detail-mid">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="selectedObject.mail" [disabled]="disableUpdate" />
                </mat-form-field>
            </div>
            <div class="element-data-row">
                <mat-form-field class="element-detail-mid" appearance="fill">
                    <mat-label>Role</mat-label>
                    <mat-select [(value)]="selectedObject.role" required [disabled]="disableUpdateRole">
                        <mat-option [value]="option.value" *ngFor="let option of roles">{{ option.text }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="element-data-row">
                <mat-form-field class="element-detail-mid" appearance="fill">
                    <mat-label>Valid from</mat-label>
                    <input matInput [matDatepicker]="pickerValidFrom" [(ngModel)]="selectedObject.validFrom"
                        [disabled]="disableUpdate">
                    <mat-datepicker-toggle matSuffix [for]="pickerValidFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerValidFrom></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="element-detail-mid" appearance="fill">
                    <mat-label>Valid to</mat-label>
                    <input matInput [matDatepicker]="pickerValidTo" [(ngModel)]="selectedObject.validTo"
                        [disabled]="disableUpdate">
                    <mat-datepicker-toggle matSuffix [for]="pickerValidTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerValidTo></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="element-detail-mid">
                    <mat-label>Last Login</mat-label>
                    <input matInput [(ngModel)]="lastLogin" disabled />
                </mat-form-field>
            </div>
            <app-detail-button-row [onAccept]="onAcceptCallBack" [disableAccept]="disableAcceptCallBack"
                [onCancel]="onCancelCallBack" [onDelete]="onDeleteCallBack" [disableDelete]="disableDeleteCallBack"
                [isNewObject]="isNewObject" [openHistoryDialog]="openHistoryDialogCallBack"></app-detail-button-row>
        </ng-template>
        <ng-template #userNotSelectedBlock>
            <h1>Please select an user</h1>
        </ng-template>
    </div>
</div>