<div class="button-row">
    <button mat-raised-button color="primary" (click)="onAccept()" [disabled]="disableAccept()">
        <div *ngIf="isNewObject; then newBlock else changeBlock"></div>
        <ng-template #newBlock>
            <mat-icon>add_box</mat-icon>
            Create
        </ng-template>
        <ng-template #changeBlock>
            <mat-icon>create</mat-icon>
            Accept
        </ng-template>
    </button>
    <button mat-raised-button color="primary" (click)="onCancel()">
        <mat-icon>undo</mat-icon> Cancel
    </button>
    <button mat-raised-button color="primary" (click)="onDelete()" [disabled]="disableDelete()">
        <mat-icon>delete_forever</mat-icon> Delete
    </button>
    <button mat-raised-button color="primary" (click)="openHistoryDialog()">
        <mat-icon>history</mat-icon> Show History
    </button>
</div>