<mat-toolbar color="primary">
    <mat-toolbar-row>
        <nav class="routing">
            <button *ngIf="showAdminItems" mat-raised-button color="primary" routerLink="/admins">
                <mat-icon>admin_panel_settings</mat-icon> Admins
            </button>
            <button *ngIf="showAdminItems" mat-raised-button color="primary" routerLink="/commongroups">
                <mat-icon>domain</mat-icon> Common Groups
            </button>
            <button mat-raised-button color="primary" routerLink="/basegroups">
                <mat-icon>people_alt</mat-icon> Base Groups
            </button>
            <button mat-raised-button color="primary" routerLink="/privilegegroups">
                <mat-icon>groups</mat-icon> Privilege Groups
            </button>
            <button mat-raised-button color="primary" routerLink="/users">
                <mat-icon>person</mat-icon> Users
            </button>
        </nav>
        <button *ngIf="showAdminItems" mat-flat-button color="primary" routerLink="/commongroups/{{commonGroupIdentification}}" [disabled]="commonGroupIdentification == undefined">
            <mat-icon>domain</mat-icon> Common Group: {{commonGroupText}}
        </button>
        <button mat-raised-button color="primary" (click)="onCreateObject()" [disabled]="disableCreateButton">
            <mat-icon>{{iconName}}</mat-icon>
            Create new {{createObjectName}}
        </button>
        <button class="account-button" mat-flat-button color="primary" routerLink="/{{activeUserParentUrl}}/{{activeUserIdentification}}" [disabled]="activeUserIdentification == undefined">
            <mat-icon>account_box</mat-icon> {{activeUserText}}
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<h3>{{activeSite}}</h3>